{% extends 'base.html' %}
{% block content %}

     
    <body>
    <div class="container">
        <div class="jumbotron">
            <br>
            <h1>List of Companies</h1>
            <div class="row">
                {% for i in company_list %}
                    <div class="col col-md-4">
                        <div class="card card-body">
                                {% if i.logo %}
                                <div class="col-12 mb-3 text-center">
                                    <img src="{{ i.logo.url }}" alt="{{ i.name }}" class="company-logo">
                                </div>
                                {% endif %}
                            <h4><a href="{{ i.id }}">{{ i.name }}</a></h4>
                        </div>
                    </div>
                {% endfor %}
                    
            </div>
        </div>
    </div>
    
</body>
{% endblock %}






                