{% extends 'base.html' %}
{% block content %}

<body class="container mt-4">

    <h1>{{ company_details.name }} Company Details</h1>
    <p>CEO: {{ company_details.ceo }}</p>
    <p>EST_YEAR: {{ company_details.est_year }}</p>
    <p>Origin: {{ company_details.origin }}</p>
    <a href="{% url 'edit' pk=company_details.id %}" class="btn btn-warning">Edit</a>
    <a href="{% url 'delete' pk=company_details.id %}" class="btn btn-danger">Delete</a>




    <hr>

    <h1 class="mb-4">List of {{ company_details.name }} Products</h1>

    <div class="row">
        {% for prod in company_details.companies.all %}
        <div class="col-md-4 mb-4">
            <div class="card text-center h-100">
                <div class="card-body">
                    {% if prod.prod_img %}
                    <div class="col-12 mb-3 text-center">
                        <img src="{{ prod.prod_img.url }}" alt="{{ prod.prod_name }}" class="product-logo">
                    </div>
                    {% endif %}
                    <h6><a href="{% url 'products_detail' pk=prod.id %}">{{ prod.prod_name }}</a></h6>
                    <h6>Color: {{ prod.color }}</h6>
                    <h6>Price: {{ prod.price }}</h6>
                    <h6>Fuel Type: {{ prod.fuel_type }}</h6>
                    <h6>CC: {{ prod.cc }}</h6>
                    <h6>Mileage: {{ prod.mileage }}</h6>
                    View Details</a></h6>
                    <a href="{% url 'emi' id=prod.id %}"><i class="bi bi-info-circle"></i></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</body>
{% endblock %}