<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .product-logo {
        width: 350px;
        height: 350px;
        object-fit: contain;
        display: block;
        margin: 0 auto;
    } 
        .company-logo {
            width: 200px;
            height: 200px;
            object-fit: contain;
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <ul class="nav navbar">
                <li class="nav-item me-3"><a href="{% url 'home'%}">Home</a></li>
                <li class="nav-item me-3"><a href="{% url 'list'%}">Companies</a></li>
                <li class="nav-item"><a href="{% url 'create'%}">Add Company</a></li>
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>